<!doctype html>
<html class="no-js " lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<meta name="description" content="">
<title> </title>
<link rel="icon" href="favicon.ico" type="image/x-icon"> <!-- Favicon-->
<link rel="stylesheet" href="assets/css/bootstrap.min.css">
<!-- Custom Css -->
<link rel="stylesheet" href="assets/css/main.css">
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</style>



</head>
<body>
<!-- Page Loader -->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
 <a class="navbar-brand" href="#">
    <img src="assets/images/ninja.svg" width="200" height="50" alt="">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">&nbsp; <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
       <button class="btn"><i class="fa fa-plus"></i> Add Project</button>
      </li>
	  
     <li class="nav-item dropdown">
<div class="col-auto my-1">
      <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
        <option selected>Choose...</option>
        <option value="1">configure</option>
        <option value="2">report</option>
        <option value="3">run</option>
      </select>
    </div>		
      </li>

    </ul>
    <span class="navbar-text">
       <ul class="navbar-nav">
 
	       <li class="nav-item dropdown">
<div class="col-auto my-1">
      <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
        <option selected>Choose...</option>
        <option value="1">configure</option>
        <option value="2">report</option>
        <option value="3">run</option>
      </select>
    </div>		
      </li>                
    </ul>
    </span>
  </div>
</nav>




<div class="container">
  <div class="row justify-content-start">
    <div class="col-sm-12 p-3">
      	<select class="custom-select mr-sm-12" id="inlineFormCustomSelect">
							<option selected>Choose...</option>
							<option value="1">configure</option>
							<option value="2">report</option>
							<option value="3">run</option>
						</select>
    </div>
  </div>
</div>	



<nav class="navbar navbar-expand-md navbar-light bg-light">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                       <a class="navbar-brand mx-auto" href="#"><h6>CUCUMBERJS REPORT</h6></a>
            </li>
           
        </ul>
    </div>
    <div class="mx-auto order-0">
        <a class="navbar-brand mx-auto" href="#"><h3>CUCUMBER-HTML-REPORTER</h3></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
               <button type="button" class="btn btn-success btn-sm">Passed: 7</button>
			   				<button type="button" class="btn btn-danger btn-sm">Failed: 0</button>
            </li>
        </ul>
    </div>
</nav>



		
		
		<div class="container">
		  <div class="generated-on">Generated 3 years ago</div>
		  <div class="row ">
			<div class="col-sm">
				<div class="card">
				    <canvas id="myChart"></canvas>
				</div>
			</div>
				<div class="col-sm">
				<div class="card">
				    <canvas id="myChart"></canvas>
				</div>
			</div>
		</div>	
		
		
<div class="row mt-5">
<div class="col-sm-12">
  <div id="accordion">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">               <i class="fa" aria-hidden="true"></i>
          <b>Metadata</b>
          </button>
        </h5>
      </div>

			<div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
				<div class="card-body">
				 <div class="row">
					<div class="clearfix metadata col-xs-12 col-sm-6 col-md-6 col-lg-6">
					  <div class="left">
						<strong> App Version: </strong>0.3.2
					  </div>
					</div>
					<div class="clearfix metadata col-xs-12 col-sm-6 col-md-6 col-lg-6">
					  <div class="pull-right-lg">
						<strong> Test Environment: </strong>STAGING
					  </div>
					</div>
					<div class="clearfix metadata col-xs-12 col-sm-6 col-md-6 col-lg-6">
					  <div class="left">
						<strong> Browser: </strong>
					  </div>
					</div>
					<div class="clearfix metadata col-xs-12 col-sm-6 col-md-6 col-lg-6">
					  <div class="pull-right-lg">
						<strong> Platform: </strong> 
					  </div>
					</div>
					<div class="clearfix metadata col-xs-12 col-sm-6 col-md-6 col-lg-6">
					  <div class="left">
						<strong> Parallel: </strong> 
					  </div>
					</div>
					<div class="clearfix metadata col-xs-12 col-sm-6 col-md-6 col-lg-6">
					  <div class="pull-right-lg">
						<strong> Executed: </strong> {{Env}}
					  </div>
					</div>
				  </div>
				</div>
			</div>
		</div>
      </div>
    </div>
</div>

		
<div class="row mt-5">
	<div class="col-sm-6">
  <div id="accordion">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapse101" aria-expanded="true" aria-controls="collapse101">           
		  <i class="fa" aria-hidden="true"></i>
          <b>Metadata</b> 
          </button>
		  <span class="badge badge-pill badge-primary">20</span>
        </h5>
      </div>
			<div id="collapse101" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
				<div class="card-body">
				 <div class="row">
					<div class="col-sm-12">
					  <div id="accordion">
						<div class="card">
						  <div class="card-header" id="headingOne">
							<h5 class="mb-0">
							  <button class="btn btn-link" data-toggle="collapse" data-target="#collapse102" aria-expanded="true" aria-controls="collapse102">              
							  <i class="fa" aria-hidden="true"></i>
							  <b>Metadata</b> 
							  </button>
							  <span class="badge badge-pill badge-primary">20</span>
							</h5>
						  </div>
								<div id="collapse102" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
									<div class="card-body">
									 <div class="row">
										<div class="clearfix metadata col-xs-12 col-sm-6 col-md-6 col-lg-6">
										  <div class="left">
											<strong> App Version: </strong>0.3.2
										  </div>
										</div>
										<div class="clearfix metadata col-xs-12 col-sm-6 col-md-6 col-lg-6">
										  <div class="pull-right-lg">
											<strong> Test Environment: </strong>STAGING
										  </div>
										</div>
										<div class="clearfix metadata col-xs-12 col-sm-6 col-md-6 col-lg-6">
										  <div class="left">
											<strong> Browser: </strong>
										  </div>
										</div>
										<div class="clearfix metadata col-xs-12 col-sm-6 col-md-6 col-lg-6">
										  <div class="pull-right-lg">
											<strong> Platform: </strong> 
										  </div>
										</div>
										<div class="clearfix metadata col-xs-12 col-sm-6 col-md-6 col-lg-6">
										  <div class="left">
											<strong> Parallel: </strong> 
										  </div>
										</div>
										<div class="clearfix metadata col-xs-12 col-sm-6 col-md-6 col-lg-6">
										  <div class="pull-right-lg">
											<strong> Executed: </strong> {{Env}}
										  </div>
										</div>
									  </div>
									</div>
								</div>
							</div>
						  </div>
						</div>
						
						
						
					<div class="col-sm-12 mt-2">
					  <div id="accordion">
						<div class="card">
						  <div class="card-header" id="headingOne">
							<h5 class="mb-0">
							  <button class="btn btn-link" data-toggle="collapse" data-target="#collapse103" aria-expanded="true" aria-controls="collapse103">              
							  <i class="fa" aria-hidden="true"></i>
							  <b>Metadata</b> 
							  </button>
							  <span class="badge badge-pill badge-primary">20</span>
							</h5>
						  </div>
								<div id="collapse103" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
									<div class="card-body">
									 <div class="row">
										<div class="clearfix metadata col-xs-12 col-sm-6 col-md-6 col-lg-6">
										  <div class="left">
											<strong> App Version: </strong>0.3.2
										  </div>
										</div>
										<div class="clearfix metadata col-xs-12 col-sm-6 col-md-6 col-lg-6">
										  <div class="pull-right-lg">
											<strong> Test Environment: </strong>STAGING
										  </div>
										</div>
										<div class="clearfix metadata col-xs-12 col-sm-6 col-md-6 col-lg-6">
										  <div class="left">
											<strong> Browser: </strong>
										  </div>
										</div>
										<div class="clearfix metadata col-xs-12 col-sm-6 col-md-6 col-lg-6">
										  <div class="pull-right-lg">
											<strong> Platform: </strong> 
										  </div>
										</div>
										<div class="clearfix metadata col-xs-12 col-sm-6 col-md-6 col-lg-6">
										  <div class="left">
											<strong> Parallel: </strong> 
										  </div>
										</div>
										<div class="clearfix metadata col-xs-12 col-sm-6 col-md-6 col-lg-6">
										  <div class="pull-right-lg">
											<strong> Executed: </strong> {{Env}}
										  </div>
										</div>
									  </div>
									</div>
								</div>
							</div>
						  </div>
						</div>
						
						<div class="col-sm-12 mt-2">
					  <div id="accordion">
						<div class="card">
						  <div class="card-header" id="headingOne">
							<h5 class="mb-0">
							  <button class="btn btn-link" data-toggle="collapse" data-target="#collapse104" aria-expanded="true" aria-controls="collapse104">              
							  <i class="fa" aria-hidden="true"></i>
							  <b>Metadata</b> 
							  </button>
							  <span class="badge badge-pill badge-primary">20</span>
							</h5>
						  </div>
								<div id="collapse104" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
									<div class="card-body">
									 <div class="row">
										<div class="clearfix metadata col-xs-12 col-sm-6 col-md-6 col-lg-6">
										  <div class="left">
											<strong> App Version: </strong>0.3.2
										  </div>
										</div>
										<div class="clearfix metadata col-xs-12 col-sm-6 col-md-6 col-lg-6">
										  <div class="pull-right-lg">
											<strong> Test Environment: </strong>STAGING
										  </div>
										</div>
										<div class="clearfix metadata col-xs-12 col-sm-6 col-md-6 col-lg-6">
										  <div class="left">
											<strong> Browser: </strong>
										  </div>
										</div>
										<div class="clearfix metadata col-xs-12 col-sm-6 col-md-6 col-lg-6">
										  <div class="pull-right-lg">
											<strong> Platform: </strong> 
										  </div>
										</div>
										<div class="clearfix metadata col-xs-12 col-sm-6 col-md-6 col-lg-6">
										  <div class="left">
											<strong> Parallel: </strong> 
										  </div>
										</div>
										<div class="clearfix metadata col-xs-12 col-sm-6 col-md-6 col-lg-6">
										  <div class="pull-right-lg">
											<strong> Executed: </strong> {{Env}}
										  </div>
										</div>
									  </div>
									</div>
								</div>
							</div>
						  </div>
						</div>
						
						
						
						
						<div class="col-sm-12 mt-2">
					  <div id="accordion">
						<div class="card">
						  <div class="card-header" id="headingOne">
							<h5 class="mb-0">
							  <button class="btn btn-link" data-toggle="collapse" data-target="#collapse105" aria-expanded="true" aria-controls="collapse105">              
							  <i class="fa" aria-hidden="true"></i>
							  <b>Metadata</b> 
							  </button>
							  <span class="badge badge-pill badge-primary">20</span>
							</h5>
						  </div>
								<div id="collapse105" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
									<div class="card-body">
									 <div class="row">
										<div class="clearfix metadata col-xs-12 col-sm-6 col-md-6 col-lg-6">
										  <div class="left">
											<strong> App Version: </strong>0.3.2
										  </div>
										</div>
										<div class="clearfix metadata col-xs-12 col-sm-6 col-md-6 col-lg-6">
										  <div class="pull-right-lg">
											<strong> Test Environment: </strong>STAGING
										  </div>
										</div>
										<div class="clearfix metadata col-xs-12 col-sm-6 col-md-6 col-lg-6">
										  <div class="left">
											<strong> Browser: </strong>
										  </div>
										</div>
										<div class="clearfix metadata col-xs-12 col-sm-6 col-md-6 col-lg-6">
										  <div class="pull-right-lg">
											<strong> Platform: </strong> 
										  </div>
										</div>
										<div class="clearfix metadata col-xs-12 col-sm-6 col-md-6 col-lg-6">
										  <div class="left">
											<strong> Parallel: </strong> 
										  </div>
										</div>
										<div class="clearfix metadata col-xs-12 col-sm-6 col-md-6 col-lg-6">
										  <div class="pull-right-lg">
											<strong> Executed: </strong> {{Env}}
										  </div>
										</div>
									  </div>
									</div>
								</div>
							</div>
						  </div>
						</div>
						
						
						
						<div class="col-sm-12 mt-2">
					  <div id="accordion">
						<div class="card">
						  <div class="card-header" id="headingOne">
							<h5 class="mb-0">
							  <button class="btn btn-link" data-toggle="collapse" data-target="#collapse106" aria-expanded="true" aria-controls="collapse106">              
							  <i class="fa" aria-hidden="true"></i>
							  <b>Metadata</b>  
							  </button>
							  <span class="badge badge-pill badge-primary">20</span>
							</h5>
						  </div>
								<div id="collapse106" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
									<div class="card-body">
									 <div class="row">
										<div class="clearfix metadata col-xs-12 col-sm-6 col-md-6 col-lg-6">
										  <div class="left">
											<strong> App Version: </strong>0.3.2
										  </div>
										</div>
										<div class="clearfix metadata col-xs-12 col-sm-6 col-md-6 col-lg-6">
										  <div class="pull-right-lg">
											<strong> Test Environment: </strong>STAGING
										  </div>
										</div>
										<div class="clearfix metadata col-xs-12 col-sm-6 col-md-6 col-lg-6">
										  <div class="left">
											<strong> Browser: </strong>
										  </div>
										</div>
										<div class="clearfix metadata col-xs-12 col-sm-6 col-md-6 col-lg-6">
										  <div class="pull-right-lg">
											<strong> Platform: </strong> 
										  </div>
										</div>
										<div class="clearfix metadata col-xs-12 col-sm-6 col-md-6 col-lg-6">
										  <div class="left">
											<strong> Parallel: </strong> 
										  </div>
										</div>
										<div class="clearfix metadata col-xs-12 col-sm-6 col-md-6 col-lg-6">
										  <div class="pull-right-lg">
											<strong> Executed: </strong> {{Env}}
										  </div>
										</div>
									  </div>
									</div>
								</div>
							</div>
						  </div>
						</div>
						
						
						
						
						
				  </div>
				</div>
			</div>
		</div>
      </div>
    </div>
	
	<div class="col-sm-6">
  <div id="accordion">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapsethree" aria-expanded="true" aria-controls="collapsethree">              
		  <i class="fa" aria-hidden="true"></i>
          <b>Metadata</b> 
          </button>
		  <span class="badge badge-pill badge-primary">20</span>
        </h5>
      </div>
			<div id="collapsethree" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
				<div class="card-body">
				 <div class="row">
					<div class="col-sm-12">
					  <div id="accordion">
						<div class="card">
						  <div class="card-header" id="headingOne">
							<h5 class="mb-0">
							  <button class="btn btn-link" data-toggle="collapse" data-target="#collapse1" aria-expanded="true" aria-controls="collapse1">              
							  <i class="fa" aria-hidden="true"></i>
							  <b>Metadata</b> 
							  </button>
							  <span class="badge badge-pill badge-primary">20</span>
							</h5>
						  </div>
								<div id="collapse1" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
									<div class="card-body">
									 <div class="row">
										<div class="clearfix metadata col-xs-12 col-sm-6 col-md-6 col-lg-6">
										  <div class="left">
											<strong> App Version: </strong>0.3.2
										  </div>
										</div>
										<div class="clearfix metadata col-xs-12 col-sm-6 col-md-6 col-lg-6">
										  <div class="pull-right-lg">
											<strong> Test Environment: </strong>STAGING
										  </div>
										</div>
										<div class="clearfix metadata col-xs-12 col-sm-6 col-md-6 col-lg-6">
										  <div class="left">
											<strong> Browser: </strong>
										  </div>
										</div>
										<div class="clearfix metadata col-xs-12 col-sm-6 col-md-6 col-lg-6">
										  <div class="pull-right-lg">
											<strong> Platform: </strong> 
										  </div>
										</div>
										<div class="clearfix metadata col-xs-12 col-sm-6 col-md-6 col-lg-6">
										  <div class="left">
											<strong> Parallel: </strong> 
										  </div>
										</div>
										<div class="clearfix metadata col-xs-12 col-sm-6 col-md-6 col-lg-6">
										  <div class="pull-right-lg">
											<strong> Executed: </strong> {{Env}}
										  </div>
										</div>
									  </div>
									</div>
								</div>
							</div>
						  </div>
						</div>
						
						
						
					<div class="col-sm-12 mt-2">
					  <div id="accordion">
						<div class="card">
						  <div class="card-header" id="headingOne">
							<h5 class="mb-0">
							  <button class="btn btn-link" data-toggle="collapse" data-target="#collapse2" aria-expanded="true" aria-controls="collapse2">              
							  <i class="fa" aria-hidden="true"></i>
							  <b>Metadata</b> 
							  </button>
							  <span class="badge badge-pill badge-primary">20</span>
							</h5>
						  </div>
								<div id="collapse2" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
									<div class="card-body">
									 <div class="row">
										<div class="clearfix metadata col-xs-12 col-sm-6 col-md-6 col-lg-6">
										  <div class="left">
											<strong> App Version: </strong>0.3.2
										  </div>
										</div>
										<div class="clearfix metadata col-xs-12 col-sm-6 col-md-6 col-lg-6">
										  <div class="pull-right-lg">
											<strong> Test Environment: </strong>STAGING
										  </div>
										</div>
										<div class="clearfix metadata col-xs-12 col-sm-6 col-md-6 col-lg-6">
										  <div class="left">
											<strong> Browser: </strong>
										  </div>
										</div>
										<div class="clearfix metadata col-xs-12 col-sm-6 col-md-6 col-lg-6">
										  <div class="pull-right-lg">
											<strong> Platform: </strong> 
										  </div>
										</div>
										<div class="clearfix metadata col-xs-12 col-sm-6 col-md-6 col-lg-6">
										  <div class="left">
											<strong> Parallel: </strong> 
										  </div>
										</div>
										<div class="clearfix metadata col-xs-12 col-sm-6 col-md-6 col-lg-6">
										  <div class="pull-right-lg">
											<strong> Executed: </strong> {{Env}}
										  </div>
										</div>
									  </div>
									</div>
								</div>
							</div>
						  </div>
						</div>
						
						<div class="col-sm-12 mt-2">
					  <div id="accordion">
						<div class="card">
						  <div class="card-header" id="headingOne">
							<h5 class="mb-0">
							  <button class="btn btn-link" data-toggle="collapse" data-target="#collapse3" aria-expanded="true" aria-controls="collapse3">              
							  <i class="fa" aria-hidden="true"></i>
							  <b>Metadata</b> 
							  </button>
							  <span class="badge badge-pill badge-primary">20</span>
							</h5>
						  </div>
								<div id="collapse3" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
									<div class="card-body">
									 <div class="row">
										<div class="clearfix metadata col-xs-12 col-sm-6 col-md-6 col-lg-6">
										  <div class="left">
											<strong> App Version: </strong>0.3.2
										  </div>
										</div>
										<div class="clearfix metadata col-xs-12 col-sm-6 col-md-6 col-lg-6">
										  <div class="pull-right-lg">
											<strong> Test Environment: </strong>STAGING
										  </div>
										</div>
										<div class="clearfix metadata col-xs-12 col-sm-6 col-md-6 col-lg-6">
										  <div class="left">
											<strong> Browser: </strong>
										  </div>
										</div>
										<div class="clearfix metadata col-xs-12 col-sm-6 col-md-6 col-lg-6">
										  <div class="pull-right-lg">
											<strong> Platform: </strong> 
										  </div>
										</div>
										<div class="clearfix metadata col-xs-12 col-sm-6 col-md-6 col-lg-6">
										  <div class="left">
											<strong> Parallel: </strong> 
										  </div>
										</div>
										<div class="clearfix metadata col-xs-12 col-sm-6 col-md-6 col-lg-6">
										  <div class="pull-right-lg">
											<strong> Executed: </strong> {{Env}}
										  </div>
										</div>
									  </div>
									</div>
								</div>
							</div>
						  </div>
						</div>
						
						
						
						
						<div class="col-sm-12 mt-2">
					  <div id="accordion">
						<div class="card">
						  <div class="card-header" id="headingOne">
							<h5 class="mb-0">
							  <button class="btn btn-link" data-toggle="collapse" data-target="#collapse4" aria-expanded="true" aria-controls="collapse4">              
							  <i class="fa" aria-hidden="true"></i>
							  <b>Metadata</b> 
							  </button>
							  <span class="badge badge-pill badge-primary">20</span>
							</h5>
						  </div>
								<div id="collapse4" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
									<div class="card-body">
									 <div class="row">
										<div class="clearfix metadata col-xs-12 col-sm-6 col-md-6 col-lg-6">
										  <div class="left">
											<strong> App Version: </strong>0.3.2
										  </div>
										</div>
										<div class="clearfix metadata col-xs-12 col-sm-6 col-md-6 col-lg-6">
										  <div class="pull-right-lg">
											<strong> Test Environment: </strong>STAGING
										  </div>
										</div>
										<div class="clearfix metadata col-xs-12 col-sm-6 col-md-6 col-lg-6">
										  <div class="left">
											<strong> Browser: </strong>
										  </div>
										</div>
										<div class="clearfix metadata col-xs-12 col-sm-6 col-md-6 col-lg-6">
										  <div class="pull-right-lg">
											<strong> Platform: </strong> 
										  </div>
										</div>
										<div class="clearfix metadata col-xs-12 col-sm-6 col-md-6 col-lg-6">
										  <div class="left">
											<strong> Parallel: </strong> 
										  </div>
										</div>
										<div class="clearfix metadata col-xs-12 col-sm-6 col-md-6 col-lg-6">
										  <div class="pull-right-lg">
											<strong> Executed: </strong> {{Env}}
										  </div>
										</div>
									  </div>
									</div>
								</div>
							</div>
						  </div>
						</div>
						
						
						
						<div class="col-sm-12 mt-2">
					  <div id="accordion">
						<div class="card">
						  <div class="card-header" id="headingOne">
							<h5 class="mb-0">
							  <button class="btn btn-link" data-toggle="collapse" data-target="#collapse5" aria-expanded="true" aria-controls="collapse5">              
							  <i class="fa" aria-hidden="true"></i>
							  <b>Metadata</b> 
							  </button>
							  <span class="badge badge-pill badge-primary">20</span>
							</h5>
						  </div>
								<div id="collapse5" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
									<div class="card-body">
									 <div class="row">
										<div class="clearfix metadata col-xs-12 col-sm-6 col-md-6 col-lg-6">
										  <div class="left">
											<strong> App Version: </strong>0.3.2
										  </div>
										</div>
										<div class="clearfix metadata col-xs-12 col-sm-6 col-md-6 col-lg-6">
										  <div class="pull-right-lg">
											<strong> Test Environment: </strong>STAGING
										  </div>
										</div>
										<div class="clearfix metadata col-xs-12 col-sm-6 col-md-6 col-lg-6">
										  <div class="left">
											<strong> Browser: </strong>
										  </div>
										</div>
										<div class="clearfix metadata col-xs-12 col-sm-6 col-md-6 col-lg-6">
										  <div class="pull-right-lg">
											<strong> Platform: </strong> 
										  </div>
										</div>
										<div class="clearfix metadata col-xs-12 col-sm-6 col-md-6 col-lg-6">
										  <div class="left">
											<strong> Parallel: </strong> 
										  </div>
										</div>
										<div class="clearfix metadata col-xs-12 col-sm-6 col-md-6 col-lg-6">
										  <div class="pull-right-lg">
											<strong> Executed: </strong> {{Env}}
										  </div>
										</div>
									  </div>
									</div>
								</div>
							</div>
						  </div>
						</div>
						
						
						
						
						
				  </div>
				</div>
			</div>
		</div>
      </div>
    </div>
</div>

<br><br><br><br><br><br>
<div class="text-center my-3 small">QA-Ninja Center</div>
<!-- Jquery Core Js --> 

<script src="assets/js/bootstrap.bundle.js"></script>
<script src="assets/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="assets/js/bootstrap.js"></script> <!-- JVectorMap Plugin Js -->
<script src="assets/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

<script>
var ctx = document.getElementById('myChart').getContext('2d');
var chart = new Chart(ctx, {
    // The type of chart we want to create
    type: 'line',

    // The data for our dataset
    data: {
        labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July'],
        datasets: [{
            label: 'My First dataset',
            backgroundColor: 'rgb(255, 99, 132)',
            borderColor: 'rgb(255, 99, 132)',
            data: [0, 10, 5, 2, 20, 30, 45]
        }]
    },

    // Configuration options go here
    options: {}
});
</script>


<script>

</script>
</body>
</html>