<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container" style="color:green">
     <h1>QA NINJA</h1>
    </div>
<div class="container">
    <h4>Request Builder</h4>
    <br>
 <form method="post" action="">
  {% csrf_token %}

     {{ form.username.errors }}
<label for="id_Url">URL:</label>
{{ form.username }}<br />

{{ form.password.errors }}
<label for="id_password">Password:</label>
{{ form.password }}



  <button type="submit" class="btn btn-primary">Submit</button>
</form>



</div>

</body>
</html>